  # Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.stex
# Mono-specific ignores
.mono/
mono_crash.*.json
*.import
# System/tool-specific ignores
.directory
*~

.DS_STORE
AntiRampage/assets/characters/dino/dino.obj.import
AntiRampage/assets/characters/dino/DINO[0]_p00.png.import
AntiRampage/assets/characters/dino/DINO[1]_p00.png.import
AntiRampage/assets/characters/dino/DINO[2]_p00.png.import
AntiRampage/assets/characters/dino/DINO[3]_p00.png.import
AntiRampage/assets/characters/dino/DINO[4]_p00.png.import
AntiRampage/assets/characters/dino/DINO[5]_p00.png.import
AntiRampage/assets/Textures/AtlasColor.jpg.import
